$color-background-primary: #131617;

$color-text-main: white;
$color-text-secondary: #d9f7fa;
$color-text-tertiary: #e8ddb5;

$color-body-text: #666a86;
$color-body-background: #b7cece;
$color-body-btn: #e8ddb5;
$color-btn-text: #666a86;
//more colors
//6E7E85 grey
//B7CECE pastel blue grey
//BBBAC6 reddish grey
//E2E2E2 plat
//#131617

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "PermanentMarker-Regular";

  // &__Navigation {
  //   position: absolute;
  //   top: 0%;
  //   left: 0%;
  // }

  &__three-canvas {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    overflow: hidden;
  }
  &__text-box {
    font-size: 4rem;
    position: absolute;
    width: 70%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__heading-primary {
    letter-spacing: 1rem;
    color: $color-text-main;
  }
  &__heading-sub {
    color: $color-text-secondary;
    position: absolute;
    top: 150%;
    left: 50%;
    text-align: center;
  }
}
.body {
  &__home {
    width: 100%;
    height: 50vh;
    position: relative;
    // left: 20%;
    background-color: $color-body-background;
    background-size: cover;
    position: relative;
    display: inline-block;
    font-family: "Lemonda-Variable";
    font-weight: 600;
  }

  &__link-madlib {
    padding: 3rem;
  }
  &__link-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__nav-btn {
    font-size: 2rem;
    text-decoration: none;
    background-color: $color-body-btn;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: $color-btn-text;
  }
  &__text {
    font-size: 2rem;
    padding-left: 3rem;
    color: $color-body-text;
    .dumb {
      text-decoration: line-through;
    }
  }
}
