$color-background-game-display: #363c5e00;
$color-game-display-text: #d9f7fa;
$color-game-library-items: #df948b;

.GameLibraryDisplay {
  &__container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70vh;
    // background-color: $color-background-game-display;
    // border: groove;
    color: $color-game-display-text;
    text-align: center;
    text-transform: uppercase;
  }
  &__title {
    font-size: 4rem;
    font-weight: 700;
  }
  &__list {
    font-weight: 700;
    padding-left: 10rem;
    text-align: left;
    font-size: 2.5rem;
    color: $color-game-library-items;
  }
  &__random {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      cursor: pointer;
    }
  }
}

.gameObject__list-title {
  &:hover {
    cursor: pointer;
  }
}
