$color-background-game-display: #484d6d;
$color-game-display-text: #efe9f4;

.GameLibraryDisplay {
  &__container {
    position: absolute;
    top: 40%;
    width: 70%;
    height: 60vh;
    background-color: $color-background-game-display;
    text-align: center;
    color: $color-game-display-text;
  }
  &__title {
    font-size: 3rem;
  }
  &__list {
    text-align: left;
    font-size: 3rem;
    color: #ee6352;
  }
}
