@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url(./Fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PermanentMarker-Regular";
  src: local("PermanentMarker-Regular"),
    url(./Fonts/PermanentMarker-Regular.ttf) format("truetype");
}

* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  font-family: "Montserrat-Regular";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  // padding: 0rem 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
